<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DashBoard</title>

    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/feather-icons-web/feather.css" />
    <link rel="stylesheet" href="~/vendor/data_table/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>