@page
@model Admin.Pages.Users.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.OptionTagHelper , Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<section class="main container-fluid">
    <div class="row">
        <div class="col-12 col-lg-3 col-xl-2 sidebar vh-100">
            <div class="d-flex justify-content-between align-items-center py-2 mt-3">
                <div class="d-flex align-items-center">
                    <span class="bg-primary p-2 rounded d-flex justify-content-center align-items-center mr-2">
                        <i class="feather-shopping-bag text-white"></i>
                    </span>
                    <span class="font-weight-bolder h4 mb-0 mt-1 text-uppercase text-primary">
                        my shop
                    </span>
                </div>
                <button class="hide-sidebar-btn btn btn-light d-block d-lg-none">
                    <i class="feather-x text-primary"></i>
                </button>
            </div>
            <nav class="nav-menu">
                <ul>
                    <li class="menu-item">
                        <a href="dashboard.html" class="menu-item-link">
                            <span> <i class="feather-home"></i> DashBoard </span>
                        </a>
                    </li>
                    <li class="menu-spacer"></li>
                    <li class="menu-title"><span>Manage Item</span></li>
                    <li class="menu-item">
                        <a href="item-add.html" class="menu-item-link active">
                            <span> <i class="feather-plus-circle"></i> Add Item </span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="item-list.html" class="menu-item-link">
                            <span> <i class="feather-list"></i> Item List </span>
                            <span class="badge badge-pill bg-white shadow-sm text-primary p-1">15</span>
                        </a>
                    </li>
                    <li class="menu-spacer"></li>
                    <li class="menu-spacer"></li>
                    <li class="menu-title"><span>Manage Item</span></li>
                    <li class="menu-item">
                        <a href="item-add.html" class="menu-item-link">
                            <span> <i class="feather-plus-circle"></i> Add Item </span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="item-list.html" class="menu-item-link">
                            <span> <i class="feather-list"></i> Item List </span>
                            <span class="badge badge-pill bg-white shadow-sm text-primary p-1">15</span>
                        </a>
                    </li>
                    <li class="menu-spacer"></li>
                    <li class="menu-spacer"></li>
                    <li class="menu-title"><span>Manage Item</span></li>
                    <li class="menu-item">
                        <a href="item-add.html" class="menu-item-link">
                            <span> <i class="feather-plus-circle"></i> Add Item </span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="item-list.html" class="menu-item-link">
                            <span> <i class="feather-list"></i> Item List </span>
                            <span class="badge badge-pill bg-white shadow-sm text-primary p-1">15</span>
                        </a>
                    </li>
                    <li class="menu-spacer"></li>
                    <li class="menu-spacer"></li>
                    <li class="menu-title"><span>Manage Item</span></li>
                    <li class="menu-item">
                        <a href="item-add.html" class="menu-item-link">
                            <span> <i class="feather-plus-circle"></i> Add Item </span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="item-list.html" class="menu-item-link">
                            <span> <i class="feather-list"></i> Item List </span>
                            <span class="badge badge-pill bg-white shadow-sm text-primary p-1">15</span>
                        </a>
                    </li>
                    <li class="menu-spacer"></li>
                    <li class="menu-spacer"></li>
                    <li class="menu-title"><span>Manage Item</span></li>
                    <li class="menu-item">
                        <a href="item-add.html" class="menu-item-link">
                            <span> <i class="feather-plus-circle"></i> Add Item </span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="item-list.html" class="menu-item-link">
                            <span> <i class="feather-list"></i> Item List </span>
                            <span class="badge badge-pill bg-white shadow-sm text-primary p-1">15</span>
                        </a>
                    </li>
                    <li class="menu-spacer"></li>
                    <li class="menu-spacer"></li>
                    <li class="menu-title"><span>Manage Item</span></li>
                    <li class="menu-item">
                        <a href="item-add.html" class="menu-item-link">
                            <span> <i class="feather-plus-circle"></i> Add Item </span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="item-list.html" class="menu-item-link">
                            <span> <i class="feather-list"></i> Item List </span>
                            <span class="badge badge-pill bg-white shadow-sm text-primary p-1">15</span>
                        </a>
                    </li>
                    <li class="menu-spacer"></li>
                    <li class="menu-spacer"></li>
                    <li class="menu-title"><span>Manage Item</span></li>
                    <li class="menu-item">
                        <a href="item-add.html" class="menu-item-link">
                            <span> <i class="feather-plus-circle"></i> Add Item </span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="item-list.html" class="menu-item-link">
                            <span> <i class="feather-list"></i> Item List </span>
                            <span class="badge badge-pill bg-white shadow-sm text-primary p-1">15</span>
                        </a>
                    </li>
                    <li class="menu-spacer"></li>
                </ul>
            </nav>
        </div>
        <div class="col-12 col-lg-9 col-xl-10 content py-3 vh-100">
            <div class="row header mb-3">
                <div class="col-12">
                    <div class="p-2 bg-primary d-flex justify-content-between align-items-center rounded">
                        <button class="show-sidebar-btn btn btn-primary d-block d-lg-none">
                            <i class="feather-menu text-light"></i>
                        </button>
                        <form action="" class="d-none d-md-none d-lg-block">
                            <div class="form-inline">
                                <input type="text" class="form-control mr-2" />
                                <button class="btn btn-light">
                                    <i class="feather-search text-primary"></i>
                                </button>
                            </div>
                        </form>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="img/user/me.jpeg" class="user-img shadow-sm" alt="" />
                                Chan Myae
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content start -->
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-white mb-4">
                            <li class="breadcrumb-item">
                                <a href="dashboard.html">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="item-list.html">User</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Add User
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="mb-0">
                                    <i class="feather-plus-circle text-primary"></i> Update User
                                </h4>
                                <a href="item-list.html" class="btn btn-outline-primary">
                                    <i class="feather-menu"></i>
                                </a>
                            </div>
                            <hr />
                            <form method="post">
                                <input asp-for="User.UserId" hidden class="form-control" />
                                <div class="form-group">
                                    <label asp-for="User.Username"></label>
                                    <input asp-for="User.Username" class="form-control" />
                                    <span asp-validation-for="User.Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.Password"></label>
                                    <input asp-for="User.Password" class="form-control" />
                                    <span asp-validation-for="User.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.Email"></label>
                                    <input asp-for="User.Email" type="email" class="form-control" />
                                    <span asp-validation-for="User.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.Phone"></label>
                                    <input asp-for="User.Phone" class="form-control" />
                                    <span asp-validation-for="User.Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.Dob"></label>
                                    <input asp-for="User.Dob" type="date" class="form-control" />
                                    <span asp-validation-for="User.Dob" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Update User</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content end -->
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/way_point/jquery.waypoints.min.js"></script>
<script src="~/js/item-add.js"></script>
